<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key='maxHttpRequestsPerSource' value='20' />
  </config>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="NuGetNexus" value="https://nex.devsafirrail.ir/repository/nuget-hosted/" />
  </packageSources>
  <packageSourceCredentials>
    <NuGetNexus>
      <add key="Username" value="admin" />
      <add key="ClearTextPassword" value="OeNo@Ghee(sh5za" />
    </NuGetNexus>
  </packageSourceCredentials>
</configuration>
