strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true
hoist-pattern[]=*

registry=https://nexus.devdkd.ir/repository/dkdnpm/

//nexus.devdkd.ir/repository/dkdnpm/:_authToken=Npm.getToken("admin", "A@a123")

//nexus.devdkd.ir/repository/dkdnpm/:username=admin
//nexus.devdkd.ir/repository/dkdnpm/:password=A@a123
//nexus.devdkd.ir/repository/dkdnpm/:email=noreply@example.com
